// ==========================================================================
// Global / Utilities / Widths
// ==========================================================================


$columns: 1 2 3 4;

@include widths($columns);

// Create a suite of responsive classes that kick in from a defined breakpoint,
// looping through our previously defined Sass MQ breakpoints.
// (e.g. `.u-width-1/3@medium`).
@each $alias, $bp in $mq-breakpoints {
  @include mq($from: $bp) {
    @include widths($columns, \@#{$alias});
  }
}
