// ==========================================================================
// Tokens / Colors
// ==========================================================================


$colors: (
  text: #111,
  link: #3571f7
);

// Usage:
//   .foo {
//     color: color(text);
//   }

@function color($key) {
  @return map-get($colors, $key);
}
