// ==========================================================================
// Global / Objects / Container
// ==========================================================================


.o-container {
  margin-right: auto;
  margin-left: auto;
}
